RUST_LOG=info

POD_NAME=pod-123

DATABASE_URL=postgres://postgres:password@postgres_global:5432/document_api
PG_MAX_CONNECTIONS=10
PG_ACQUIRE_TIMEOUT_SECS=30


PULSAR_URL=pulsar://broker:6650
PULSAR_RECONNECT_DELAY_SECS=5
PULSAR_MAX_RETRIES=10
PULSAR_BATCH_SIZE=100


TOPIC_LIST=persistent://public/default/document.processed,persistent://public/default/document.created
TOPIC_TYPE_LIST=shared,key-shared

BATCH_SIZE=50

POLL_INTERVAL=5

CONSUMER_GROUP=document-api-consumer-group
CONSUMER_PREFIX=document-api-consumer
CONSUMER_SUFFIX=1

